# ignore logs folder
/logs

# ignore config file
configuration.php

# ignore vim swap files
.*.swp
.*.swo

# ignore data folder
/data/*
!/data/.gitstay

# ignore vendor folder
/vendor

# ignore built css file
/public/assets/forum.css
