# ignore logs folder
/data/logs

# ignore local config file
configuration.php
.env

# ignore vim swap files
.*.swp
.*.swo

# ignore data folder
/data/*
!/data/.gitstay

# ignore vendor folder
/vendor

# ignore built css file
/public/assets/forum.css
