<!doctype html>
<html>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<link rel="alternate" type="application/rss+xml" title="Forum Threads - RSS" href="{{ linkTo('rss', '?mode=thread') }}" />
<link rel="alternate" type="application/rss+xml" title="Forum Posts - RSS" href="{{ linkTo('rss', '?mode=post') }}" />
<link rel=stylesheet href="{{ configs.cssPath }}">
<title>{% block title %}{{ configs.siteName }}{% endblock %}</title>

{% block header %}{% endblock %}

<main>{% block content %}{% endblock %}</main>

{% block footer %}{% endblock %}

</html>