<!doctype html>
<html>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<link rel="alternate" type="application/rss+xml" title="Forum Threads - RSS" href="https://stupidsing.no-ip.org/rss.php?mode=thread" />
<link rel="alternate" type="application/rss+xml" title="Forum Posts - RSS" href="https://stupidsing.no-ip.org/rss.php?mode=post" />
<link rel=stylesheet href="/forum.css">
<title>{% block title %}Wandering and wonderings{% endblock %}</title>

{% block header %}{% endblock %}

<hr><br><br>

<main>{% block content %}{% endblock %}</main>

<br><br><hr><br>

{% block footer %}{% endblock %}

</html>