$primary-text-color: #CBDCBB;
$secondary-text-color: #99AA88;
$slogan-color: #CBDCBB;
$screen-small: 600px;

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
    color: $primary-text-color;
}

h1 {
    margin-bottom: 3em;
}

html {
    scrollbar-color: #333 #000;
    scrollbar-width: thin;
}

body, table {
    background-color: #403D3D;
    color: #F8F8F2;
    scrollbar-base-color: #111111;
    scrollbar-track-color: #111111;
    scrollbar-face-color: #111111;
    scrollbar-highlight-color: #111111;
    scrollbar-3dlight-color: #111111;
    scrollbar-darkshadow-color: #111111;
    scrollbar-shadow-color: #111111;
    scrollbar-arrow-color: #111111;
    text-decoration: none;
    font-family: "helvetica,arial";
    font-size: 12pt;
}

header {
    width: 100%;
    margin-bottom: 2em;
    .slogan{
        color: $slogan-color;
    }
}

footer {
    margin-top: 2em;
    width: 100%;
    .slogan{
        color: $slogan-color;
    }
}

ul.messages {
    display: block;
    position: relative;
    border: solid 1px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 0;
    li {
        display: block;
        .message, label {
            padding: 0.5em 1em;
        }
        label {
            display: block;
            transition: background-color 0.4s;
            background-color: rgba(255, 255, 255, 0);
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
ul.messages-error {
    color: rgba(255, 200, 200, 1);
    background-color: rgba(100, 0, 0, 1);
    border-color: rgba(255, 200, 200, 1);
    label {
        cursor: pointer;
    }
}

.page-forum {

    main {
        padding: 2em 0;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        > div {
            flex: 1;
        }
        .slogan{
            text-align: right;
        }
        @media screen and (max-width: $screen-small) {
            display: block;
            .buttons {
                margin-top: 0.7em;
                a {
                    font-size: 1.2em;
                }
            }
        }
    }

    footer {
        display: flex;
        > div {
            flex: 1;
        }
        .slogan{
            text-align: right;
        }
        @media screen and (max-width: $screen-small) {
            display: block;
            .buttons {
                margin-bottom: 0.7em;
                a {
                    font-size: 1.2em;
                }
            }
        }
    }

    .post {
        &.level-0 {
            margin-top: 0.7em;
        }
        @for $i from 0 through 20 {
            &.level-#{$i} {
                margin-left: #{$i}em;
            }
        }
        .authoring-info {
            color: #809080;
            .author-link {
                color: inherit;
            }
        }
        @media screen and (max-width: $screen-small) {
            margin-top: 0.4em;
            &.level-0 {
                margin-top: 1em;
            }
            .title {
                font-size: 1.2em;
            }
            .authoring-info {
                display: block;
                .separator {
                    display: none;
                }
            }
        }
    }
}

.page-form {
    .messages {
        max-width: calc(900px - 2px);
        margin: 0.2em 0.3em 0.5em;
    }
}
.post-form {
    .field-wrapper, .actions {
        display: flex;
        position: relative;
        max-width: 900px;
        margin: 0.2em 0.3em;
        color: #DCDCBC;

        label {
            display: block;
            flex: initial;
            width: 5.2em;
            padding: 0.5em 0.2em;
            color: inherit;
            &:after {
                content: '︰';
            }
        }

        input {
            display: block;
            flex: 1;
            max-width: calc(100% - 1em);
            padding: 0.5em;
            color: inherit;
        }

        textarea {
            display: block;
            flex: 1;
            max-width: calc(100% - 1em);
            padding: 0.5em;
            color: inherit;
            resize: vertical;
            scrollbar-base-color: #000000;
            scrollbar-track-color: #000000;
            scrollbar-face-color: #000000;
            scrollbar-highlight-color: #000000;
            scrollbar-3dlight-color: #000000;
            scrollbar-darkshadow-color: #000000;
            scrollbar-shadow-color: #000000;
            scrollbar-arrow-color: #000000;
        }

        input, textarea, button {
            transition: background-color 0.3s;
            background-color: rgba(255,255,255,0);
            border: 1px solid #455354;
            text-decoration: none;
            &:hover {
                background-color: rgba(255,255,255,0.02);
            }
            &:focus {
                background-color: rgba(255,255,255,0.06);
            }
        }

        button {
            cursor: pointer;
            color: inherit;
            padding: 0.5em 1em;
            &:hover {
                background-color: rgba(255,255,255,0.05);
            }
        }

        @media screen and (max-width: $screen-small) {
            display: block;
            margin: 0.8em 0;
            label {
                display: block;
                width: 100%;
            }
            input, textarea {
                display: block;
                font-size: 1.2em;
            }
            textarea {
                height: 60vh;
                min-height: 18em;
            }
            button {
                width: 100%;
                font-size: 1.2em;
                width: 100%;
                padding: 0.3em 0;
            }
        }
    }
    .field-post-type select {
        display: block;
        background-image: none;
        background-color: transparent;
        border: 1px solid #455354;
        color: inherit;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        width: 100%;
        option {
            display: block;
            box-sizing: border-box;
            padding: 0.4em 1em;
            font-size: 1.5em;
            height: 2.5em;
        }
    }
}

table {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

article {
    color: $primary-text-color;
    text-decoration: none;
    font-family: "sans-serif";
    font-size: 12pt;
    blockquote {
        display: block;
        border-left: solid 1px $secondary-text-color;
        margin: 0;
        padding-left: 1em;
    }
}

a {
    color: #FFF0CC;
    text-decoration: none;
    font-family: "sans-serif";
    font-size: 11pt;
    &:visited {
        color: #B0B0AC;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}

.buttons {
    display: block;
    padding: 0;
    margin: 0;
    li {
        display: inline;
        list-style-type: none;
        margin-right: 0.6em;
    }
    a {
        color: $secondary-text-color;
        font-weight: bolder;
        text-decoration: none;
        font-size: 12pt;
        &:visited {
            color: #889977;
            text-shadow: 3px 3px 5px grey;
            text-decoration: none;
        }
        &:hover {
            color: #DDEE99;
            font-weight: bolder;
            text-decoration: underline;
        }
    }
}

hr {
    background-color: #779966;
    color: $secondary-text-color    ;
    border-style: none;
}

.og-widget-wrapper {
    display: block;
    margin: 0.5em 0;
    max-width: 640px;
}

.og-widget {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(to top, #403D3D, rgba(255, 255, 255, 1) 20%);
    padding: 0;
    transition: background-color 0.3s;
    img {
        display: block;
        width: 100%;
        margin: 0;
        transition: opacity 0.3s;
    }
    figcaption {
        transition: opacity 0.3s;
        padding: 1em 0;
        max-height: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        .title {
            font-weight: bold;
            padding: 0.5em 1em;
        }
        .desc {
            padding: 0.5em 1.3em;
            font-size: 0.9em;
        }
        .host {
            padding: 0.5em 1.6em;
            font-size: 0.7em;
            opacity: 0.9;
        }
    }

    &:hover {
        text-decoration: none;
        img {
            opacity: 0.8;
        }
        figcaption {
            opacity: 0.8;
        }
    }
}
